/* General Setup */
body{
    margin: 0;
    font-family: 'Helvetica Nue', Arial, sans-serif;
    background-color: #f8f9fa
}

/* Logo Styling */
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logo-img {
    height: 40px; 
    width: auto;
    filter: brightness(0) invert(1); 
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
}

header {
    background-color: #111;
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav */
nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

nav a {
    color: white;
    font-size: 16px;
}

.btn-outline {
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 4px;
}

/* Hero */
.hero {
    display: flex;
    padding: 80px 10%;
    align-items: center;
    gap: 50px;
}

.hero-content {
    flex: 1;
}

.hero-image {
    flex: 1;
    text-align: right;
}

.hero-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 4px;
}

.btn-dark {
    background: #111;
    color: white;
    padding: 12px 25px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 4px;
}

/* Features */
.features {
    display: flex;
    justify-content: space-around;
    padding: 60px 10%;
    gap: 20px;
}

.card {
    background: white;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    flex:1;
}

/* About Us */
.about {
    background: #eeeeee;
    padding: 80px 20%;
    text-align: center;
}

/* Contact Form */
.contact-section {
    background-color: #f4f4f4; 
    padding: 80px 0;
    text-align: center;
}

.contact-section h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-container input, 
.contact-container textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    background-color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
}

.contact-container textarea {
    resize: none;
}

.send-btn {
    width: 100%;
    background-color: #2c2c2c;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}
.send-btn:hover {
    background-color: #000;
}