/* General Setup */
body{
    margin: 0;
    font-family: 'Helvetica Nue', Arial, sans-serif;
    background-color: #f8f9fa
}

/* Header & Nav */
header{
    background-color: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    color: white;
    font-size: 14px;
}

.btn-outline {
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 4px;
}

/* Hero */
.hero {
    display: flex;
    padding: 80px 10%;
    align-items: center;
    gap: 50px;
}

.hero-text {
    flex: 1;
}

.hero-image {
    flex: 1;
    text-align: right;
}

.hero-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 4px;
}

.btn-dark {
    background: #111;
    color: white;
    padding: 12px 25px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 4px;
}

/* Features */
.features {
    display: flex;
    justify-content: space-around;
    padding: 60px 10%;
    gap: 20px;
}

.card {
    background: white;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    flex:1;
}

/* About Us */
.about {
    background: #eeeeee;
    padding: 80px 20%;
    text-align: center;
}