/* General Setup */
body{
    margin: 0;
    font-family: 'Helvetica Nue', Arial, sans-serif;
    background-color: #f8f9fa
}

/* Header & Nav */
header{
    background-color: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    color: white;
    font-size: 14px;
}

.btn-outline {
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 4px;
}
